$black: #01050e;
$grey: #63656a;

// lightsabers
$star-wars-yellow: #ffde00;
$blue: #3269ed;
$red: #d64632;
$green: #81d066;
$purple: #ca53d6;
$purple-grey: #684D6B;
$orange: #e3944b;


$fontpath: '../fonts/';
$fontbase: 'din', sans-serif;
